
body{
 font-family: 'Jura', sans-serif;
}

#navmenu{
  text-align: center;
}

.navi{
  font-size: 30px;
  font-weight: bold;
  margin: 70px;
  position: relative;
  display: inline-block;
}

.navi:hover{
  color: red;
}

.inner{
  font-size: 25px;
  display: none;
  position: absolute;
  color: cornflowerblue;
  text-decoration: none;
  text-align: center;
}

#banner{
  background-image: url("https://edge.alluremedia.com.au/m/l/2016/11/HiRes-5.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
 font-size: 55px;

span{
  color: cornflowerblue;
}

#newMenu{
  margin: 20px;
  padding: 20px;
}

#descrip{
  font-weight: bold;
  font-size: 20px;
}

.menu{
  font-size: 20px;
  display: none;
}

.name{
  border: 2px solid black;
  padding: 20px;
 font-size: 30px;
}

.name:hover{
  background-color: cornflowerblue;
  color: yellow;
}

img{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 5px;
}

#socialMedia{
  margin-top: 20px;
}

.rank{
  border: 2px solid black;
  display: block;
  margin-top: 20px;
}

.rank:hover{
  border: 2px solid cornflowerblue;
}

.mcd, .descrip, .thumb{
  padding: 15px;
}

.descrip{
  font-size: 25px;
}

#footer{
  text-align: center;
  background-color: cornflowerblue;
  padding: 20px;
 font-size: 20px;
}
